*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background-color: #edebee;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;

}
h2{
    color: #edebee;
}
form{
    display: grid;
    place-items: center;
    background-color:#192544;
    height: 200px;
    width: 50%;
    border-radius: 7px;
}
input{
    width: 80%;
    height: 35px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 1.1rem;
}
p{
    font-size: 1.3rem;
}
@media screen and (max-width: 600px) {

    form{
        width: 95%;
        height: 30%;
        margin-bottom:450px;
    }
    p{
        font-size: 1rem;
    }
    
  }